h1{
    font-weight:700;
    font-size:45px;
    margin:10px;
    margin-bottom:20px;
}
input{
    width:100%;
}

.item-container{
    text-align:left;
}
.t-row{
    margin:10px 5px;
}
.t-button{
    min-width:80px;
}